<section class="section2">
    <div class="card2">
        <div class="section2-desc">
            <h1 class="tv-heading">Enjoy on your TV.</h1>
            <h3 class="tv-sub-heading">Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and
                more.</h3>
        </div>

        <img alt="Netflix Mobile" src="https://res.cloudinary.com/dahw90b2z/image/upload/v1667988834/tv_lromsj.png" />
        <video class="video-1" autoplay playsinline muted loop type="video/mp4"
            src="https://res.cloudinary.com/dahw90b2z/video/upload/v1667990593/v1_ic82vr.mp4"></video>
    </div>
</section>