<div class="loginContainer">
    <div>
        <img class="logo" alt="Netflix Logo"
            src="https://res.cloudinary.com/dahw90b2z/image/upload/v1667982530/logo_cfqupd.png" />
    </div>
    <div class="bgContainer">
        <h1 class="text">Forgot Password</h1>
        <form *ngIf="!success" [formGroup]="userform" class="loginForm" (ngSubmit)="onSubmit()">
            <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
                <strong>Error: {{errorMsg}}</strong>
            </div>
            <div>
                <label for="email">Enter Your Register Email:</label>
                <input type='text' class="inputField" formControlName="email" ngModel matInput
                    placeholder="Enter Email">
                <p class="error-msg" *ngIf="userform.controls['email'].dirty && userform.hasError('required','email')">
                    *Email
                    Required</p>
            </div>

            <div>
                <button class="signInBtn" type="submit" [disabled]="!userform.valid" mat-raised-button color="warn">Send
                    a Request</button>

                <p class="account-desc-text">Don't have an account? <a class="auth-toggle-link" (click)="onSignup()">
                        Sign up</a></p>
            </div>
        </form>

        <div *ngIf="success" class="successContainer">
            <h1 class="successText">Successfully Sent!</h1>
            <p class="successText">We have sent you reset password link on your email, please check!</p>
            <button routerLink="/login" class="btn">login</button>
        </div>
    </div>