<div class="loginContainer" *ngIf="user">
    <div>
        <img class="logo" alt="Netflix Logo"
            src="https://res.cloudinary.com/dahw90b2z/image/upload/v1667982530/logo_cfqupd.png" />
    </div>
    <div class="bgContainer">
        <h1 class="text">Account Recovery</h1>
        <p class="successText">A Verification Code Sent to {{user.email}}</p>
        <!-- <button (click)="confirmSignup()" class="btn">CONFIRM</button> -->
        <form [formGroup]="userform" class="loginForm" (ngSubmit)="onSubmit()">
            <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
                <strong>Error: {{errorMsg}}</strong>
            </div>
            <div class="codeContainer">
                <input type="text" class="inputField" formControlName="verificationCode"
                    [(ngModel)]="user.verificationCode" placeholder="Enter the Verification Code">
            </div>
            <div>
                <input [type]="user.showPassword ? 'text': 'password'" class="inputField" formControlName="newPassword"
                    [(ngModel)]="newPassword" placeholder="Enter Password">
                <p class="error-msg"
                    *ngIf="userform.controls['newPassword'].dirty && userform.hasError('required','newPassword')">
                    *Password
                    Required</p>
            </div>
            <div>
                <input type="checkbox" class="inputField" [checked]="user.showPassword" formControlName="showPassword"
                    (change)="user.showPassword = !user.showPassword"> show Password

            </div>
            <div>
                <button class="signInBtn" type="submit" [disabled]="!userform.valid" mat-raised-button color="warn">
                    SUBMIT NEW PASSWORD
                </button>

                <p class="account-desc-text">Don't have an account? <a class="auth-toggle-link" (click)="onSignup()">
                        Sign up</a></p>
            </div>

        </form>


    </div>
</div>
<div *ngIf="success" class="successContainer">
    <h1 class="successText">Successfully Sent!</h1>
    <p class="successText">We have sent you reset password link on your email, please check!</p>
    <button routerLink="/login" class="btn">login</button>
</div>