<header class="showcase">
    <div class="showcase-top">
        <img alt="Netflix Logo" src="https://res.cloudinary.com/dahw90b2z/image/upload/v1667982530/logo_cfqupd.png" />
        <button routerLink="/login" class="section1HeaderBtn">Sign In</button>
    </div>
    <div class="showcase-content">
        <h1 class="section1Header1">Unlimited movies, TV shows and more.</h1>
        <p class="section1Header2">Watch anywhere. Cancel anytime.</p>
        <p class="section1Header3">Ready to watch? Enter your email to create or restart your membership.</p>
    </div>
    <div>
        <div class="getStartedSection">
            <mat-form-field appearance="outline" class="inputText">
                <mat-label>Email address</mat-label>
                <input matInput>
            </mat-form-field>
            <button class="btn">Get Started <mat-icon>keyboard_arrow_right</mat-icon></button>
        </div>

    </div>
</header>