<section class="footerSection">
    <footer class="footer">
        <p class="call-text">Questions? Call 000-800-040-1843</p>
        <div class="footer-cols">
            <ul class="listItem">
                <li><a class="link" href="#">FAQ</a></li>
                <li><a class="link" href="#">Investor Relations</a></li>
                <li><a class="link" href="#">Privacy</a></li>
                <li><a class="link" href="#">Speed Test</a></li>
            </ul>
            <ul class="listItem">
                <li><a class="link" href="#">Help Centre</a></li>
                <li><a class="link" href="#">Jobs</a></li>
                <li><a class="link" href="#">Cookie Preferences</a></li>
                <li><a class="link" href="#">Watch for Free</a></li>
            </ul>
            <ul class="listItem">
                <li><a class="link" href="#">Account</a></li>
                <li><a class="link" href="#">Ways to Watch</a></li>
                <li><a class="link" href="#">Corporate Information</a></li>
                <li><a class="link" href="#">Legal Notices</a></li>
            </ul>
            <ul class="listItem">
                <li><a class="link" ref="#">Media Centre</a></li>
                <li><a class="link" href="#">Terms of Use</a></li>
                <li><a class="link" href="#">Contact Us</a></li>
                <li><a class="link" href="#">Netflix Originals</a></li>
            </ul>
        </div>
        <p class="companyNameText">Netflix India</p>
    </footer>

</section>