<div class="loginContainer">
    <div>
        <img class="logo" alt="Netflix Logo"
            src="https://res.cloudinary.com/dahw90b2z/image/upload/v1667982530/logo_cfqupd.png" />
    </div>

    <div *ngIf="!showLogin" class="bgContainer">
        <h1 class="signInHeading">Sign In</h1>
        <form [formGroup]="loginForm" class="loginForm" #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)">
            <div>

                <input type='text' class="inputField" formControlName="email" ngModel matInput
                    placeholder="Enter Email">
                <p class="error-msg"
                    *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">*Email
                    Required</p>
            </div>
            <div>
                <input type='password' class="inputField" formControlName="password" ngModel matInput
                    placeholder="Enter Password">
                <p class="error-msg"
                    *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                    *Password
                    Required</p>
            </div>
            <div>
                <button class="signInBtn" type="submit" [disabled]="!loginForm.valid" mat-raised-button
                    color="warn">Sign
                    In</button>
                <p class="account-desc-text">Don't have an account? <a class="auth-toggle-link" (click)="openSignUp()">
                        Sign up</a></p>
                <p class="error-msg"> {{authError}}</p>

            </div>

        </form>
    </div>

    <!-- login form end here -->
    <div *ngIf="showLogin" class="bgContainer">
        <h1 class="signInHeading">Sign up</h1>
        <form [formGroup]="signUpForm" class="loginForm" #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)">
            <div>

                <input type='text' formControlName="name" class="inputField" ngModel matInput placeholder="Enter Name">

                <p class="error-msg"
                    *ngIf="signUpForm.controls['name'].dirty && signUpForm.hasError('required','name')">*Name
                    Required</p>
            </div>
            <div>

                <input type='password' class="inputField" formControlName="password" ngModel matInput
                    placeholder="Enter Password">

                <p class="error-msg"
                    *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')">
                    *Password
                    Required</p>
            </div>
            <div>

                <input type='text' class="inputField" formControlName="email" ngModel matInput
                    placeholder="Enter Email">

                <p class="error-msg"
                    *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')">*Email
                    Required</p>
            </div>
            <div>
                <button [disabled]="!signUpForm.valid" type="submit" class="signInBtn" mat-raised-button
                    color="warn">Sign up</button>
                <p class="account-desc-text">Already have Account? <a class="auth-toggle-link"
                        (click)="openLogin()">login here</a></p>

            </div>

        </form>
    </div>



    <!-- footer section -->
    <footer class="footer">
        <p class="call-text">Questions? Call 000-800-040-1843</p>
        <div class="footer-cols">
            <ul class="listItem">
                <li><a class="link" href="#">FAQ</a></li>
                <li><a class="link" href="#">Cookie Preferences</a></li>

            </ul>
            <ul class="listItem">
                <li><a class="link" href="#">Help Centre</a></li>
                <li><a class="link" href="#">Corporate Information</a></li>

            </ul>
            <ul class="listItem">
                <li><a class="link" href="#">Terms of Use</a></li>

            </ul>
            <ul class="listItem">
                <li><a class="link" href="#">privacy</a></li>
            </ul>
        </div>
        <p class="companyNameText">Netflix India</p>
    </footer>

    <div class="seller-auth">
        <div class="signup" *ngIf="!showLogin">
            <h1 class="signup-heading">Seller Sign-up</h1>
            <form class="common-form" #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)">
                <input class="form-input" type='text' name="name" ngModel placeholder="Enter Name" />
                <input class="form-input" type='password' name="password" ngModel placeholder="Enter password" />
                <input class="form-input" type='text' name="email" ngModel placeholder="Enter Email" />
                <button class="form-button">Signup</button>
                <a class="auth-toggle-link" (click)="openLogin()">Already have Account? login here</a>
            </form>
        </div>

        <div class="signup" *ngIf="showLogin">
            <h1 class="signup-heading"> Seller Login</h1>
            <form class="common-form" #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)">
                <input class="form-input" type='text' name="email" ngModel placeholder="Enter Email" />
                <input class="form-input" type='password' name="password" ngModel placeholder="Enter password" />
                <button class="form-button">Login</button>
                <a class="auth-toggle-link" (click)="openSignUp()">Don't have an account? Sign up</a>
                <p class="error-msg"> {{authError}}</p>
            </form>
        </div>
    </div>