<div class="loginContainer">
    <div>
        <img class="logo" alt="Netflix Logo"
            src="https://res.cloudinary.com/dahw90b2z/image/upload/v1667982530/logo_cfqupd.png" />
    </div>

    <form class="loginForm">
        <h1 class="signInHeading">Sign In</h1>
        <div>
            <mat-form-field class="inputText" appearance="legacy">
                <input class="inputField" matInput placeholder="Email or phone number">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="inputText" appearance="legacy">
                <input class="inputField" matInput placeholder="Password">
            </mat-form-field>
        </div>
        <div>
            <button routerLink="/mainpage" class="signInBtn" mat-raised-button color="warn">Sign In</button>
        </div>
        <div class="rememberMeText">
            <input type="checkbox" checked />
            <p class="text">Remember Me</p>
        </div>
        <div>
            <p class="text">New to Netflix?<span class="signupLink"> Sign up now.</span></p>
            <p class="text">This page is protected by Google reCAPTCHA to ensure you're not a bot. <span
                    class="learnMoreText">Learn more.</span></p>
        </div>
    </form>
    <!-- footer section -->
    <footer class="footer">
        <p class="call-text">Questions? Call 000-800-040-1843</p>
        <div class="footer-cols">
            <ul class="listItem">
                <li><a class="link" href="#">FAQ</a></li>
                <li><a class="link" href="#">Cookie Preferences</a></li>

            </ul>
            <ul class="listItem">
                <li><a class="link" href="#">Help Centre</a></li>
                <li><a class="link" href="#">Corporate Information</a></li>

            </ul>
            <ul class="listItem">
                <li><a class="link" href="#">Terms of Use</a></li>

            </ul>
            <ul class="listItem">
                <li><a class="link" href="#">privacy</a></li>
            </ul>
        </div>
        <p class="companyNameText">Netflix India</p>
    </footer>


</div>