<app-header></app-header>
<div class="bgContainer">
    <div class="formContainer">
        <div class="profiletitle">
            <h1>Profile</h1>
        </div>
        <hr class="horizontal">
        <form *ngIf="!success" [formGroup]="userform" class="loginForm" (ngSubmit)="onSubmit()">
            <p><strong>{{errorMsg}}</strong></p>
            <div>
                <label for="name">New Password:</label>
                <div>
                    <input type='text' formControlName="newpassword" class="inputField" ngModel matInput
                        placeholder="Enter New Password">
                    <p class="error-msg"
                        *ngIf="userform.controls['newpassword'].dirty && userform.hasError('required','newpassword')">
                        *New Password
                        Required</p>
                </div>
            </div>
            <div class="btnContainer">
                <button class="btn" [disabled]="!userform.valid" type="submit">Change Password</button>
                <button class="btn" type="button">Discard</button>
            </div>
        </form>
        <div class="successContainer" *ngIf="success">
            <p class="successText">Password Change Successfull!</p>
            <button> Login here</button>
        </div>

    </div>

</div>