<app-header></app-header>
<div class="bgContainer">
    <div class="formContainer">
        <div class="profiletitle">
            <h1>Profile</h1> <button class="btn btn1" routerLink="/profile" [queryParams]="{EditMode:true}"
                (click)="onEdit()">Edit</button>
        </div>
        <hr class="horizontal">

        <form [formGroup]="userform" class="loginForm" (ngSubmit)="onSubmit()">
            <p class="field">Edit Mode:
                <span [ngClass]="{trueMode:editMode, falseMode:!editMode}"> {{editMode}}</span>
            </p>
            <div class="field">
                <label *ngIf="!editMode" for="email">Email:</label>
                <span *ngIf="!editMode" id="email" class="value">{{this.userData?.email}}</span><br>
                <label *ngIf="!editMode" for="emailStatus">Email Verified:</label>
                <span *ngIf="!editMode" if="emailStatus" class="value">{{this.userData?.email_verified}}</span><br>
                <label *ngIf="!editMode" for="fullname">Username: </label>
                <span *ngIf="!editMode" id="fullname" class="value">{{this.userData?.family_name}}
                </span><br>
                <label *ngIf="!editMode" for="fullname"> full Name: </label>
                <span *ngIf="!editMode" id="fullname" class="value"> {{this.userData?.given_name}}
                    <img src="{{this.userData?.picture}}" width="100" height="100" />
                </span><br>

                <div *ngIf="editMode">
                    <input type='text' formControlName="givenName" class="inputField" ngModel matInput
                        placeholder="Enter Name">
                    <p class="error-msg"
                        *ngIf="userform.controls['givenName'].dirty && userform.hasError('required','givenName')">
                        *Name
                        Required</p>
                </div>

                <div *ngIf="editMode">
                    <input type='file' formControlName="imageUrl" class="inputField" ngModel
                        (change)="onChangeFile($event)">
                    <button (click)="handleSendFile()">Send file</button>

                </div>



            </div>
            <div class="field">
                <!-- <label for="profilepicUrl">Profile Picture:</label> -->
                <!-- <img *ngIf="!editMode" class="pp" src="{{this.userData?.photoUrl}}" /> -->
                <!-- <div *ngIf="editMode"> -->
                <!-- <input type='text' class="inputField" formControlName="profilepicUrl" ngModel matInput
                        placeholder="Enter profilepicUrl"> -->
                <!-- <p class="error-msg"
                        *ngIf="userform.controls['profilepicUrl'].dirty && userform.hasError('required','profilepicUrl')">
                        *profilepicUrl
                        Required</p> -->

                <!-- </div> -->
                <div>
                    <button class="btn" *ngIf="!editMode" type="button" (click)="signOutWithCognito()">Logout</button>
                </div>
            </div>
            <div class="btnContainer" *ngIf="editMode">
                <button class="btn" [disabled]="!userform.valid" type="submit">Save</button>
                <button class="btn" type="button" (click)="onDiscard()">Discard</button>
                <!-- <button [disabled]="!userform.valid" type="submit" class="signInBtn" mat-raised-button color="warn">Sign
                    up</button> -->

            </div>
        </form>
    </div>
</div>