<section class="section4">
    <div class="card4">
        <div class="section4-desc">
            <h1 class="tv-heading">Watch everywhere.</h1>
            <h3 class="tv-sub-heading">Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</h3>
        </div>
        <img alt="Netflix Mobile" src="https://res.cloudinary.com/dahw90b2z/image/upload/v1667993370/im4_zszley.png" />
        <video class="video-1" autoplay="" playsinline="" muted="" loop="" type="video/mp4"
            src="https://res.cloudinary.com/dahw90b2z/video/upload/v1667993376/v2_h01ijs.mp4"></video>
    </div>
</section>