/* input {
   
} */

.searchContaienr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.inputField {

    height: 50px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
    min-width: 400px;
    max-width: 550px;
    border-bottom: 1px solid gray;
}